body {
    overflow: hidden;
}

#title-heading{
    margin: 55px;
    text-align: center;
}


#high-score {
    /* text-align: right; */
    /* margin-top: 55px; */
    /* padding-left: 40px;
    padding-right: 40px; */
}

#timer { 
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
}
#timer-header { 
    margin-top: 55px;
    padding-left: 40px;
    padding-right: 40px;
}

#start-quiz-btn {
    padding: 55px;
    margin: 55px;
}

#questions-display {
    margin-top:55px;
}


 
.hidden-element{
    display:none;
} 


#is-correct{
    text-align: center;
    margin-top: 20px;
}
