body {
    overflow: hidden;
}

header {
    background-color: aqua;
}

#high-score {
    text-align: right;
    padding: 40px;
}

#timer { 
    padding: 40px;
}

#start-quiz-btn {
    padding: 55px;
    margin: 100px;
}