body {
    overflow: hidden;
}


#high-score {
    text-align: right;
    padding: 40px;
}

#timer { 
    padding: 40px;
}

#start-quiz-btn {
    padding: 55px;
    margin: 100px;
}

/* #questions {
    background-color: black; */


 
.hidden-element{
    display:none;
} 



